<% locals = { game_state: game_state, type: type } %>
<div class="board">
  <% board_data.each do |row_data| %>
    <%= render(partial: "board/row", locals: locals.merge({ row_data: row_data })) %>
  <% end %>
</div>
